* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-inline: 1.3rem;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container h1 {
    margin: 0;
}

.logoutButton {
    padding-block: 0.5rem;
    padding-inline: 2.3rem;
    background: rgb(205, 9, 75);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}